.marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: crimson;
  border-radius: 50%;
  border: 2px solid #678c6e;
  text-align: center;
  color: white;
  font-size: 14px;

  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.selected {
  background-color: lightpink;
  border: 2px solid lightcoral;
}
